<%- include ../partials/aboveBody.ejs %>

<nav><a href="/">HOME</a></nav>
<h1>All Devs</h1>
<ul>
  <% devs.forEach(dev => { %>
    <li>
      <a href="/developers/<%= dev.id %>"><%= dev.name %></a>
        | Skills:
      <ol>
          <% dev.skills.forEach(skill => { %>
              <li>
                  <%= skill %>
              </li>
          <% }) %>
      </ol>
    </li>
  <% }); %>
</ul>
<a href="/developers/new">Add New Dev</a>

<%- include ../partials/belowBody.ejs %>